<div class="card error-card" *ngIf="(errorMessage$ | async) !== ''; else register">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ errorMessage$ | async }}
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>

<ng-template #register>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Bitte registrieren Sie sich:
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="full-sreen">
      <form [formGroup]="registerForm" (ngSubmit)="registerUser()">

        <br>
        <mat-form-field class="register-full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" name="email" placeholder="email" type="text">
        </mat-form-field>
        <br>
        <mat-form-field class="register-full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="pwd" name="pwd" placeholder="Pwd" type="password">
        </mat-form-field>
        <br>
        <mat-form-field class="register-full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" name="name" placeholder="name" type="text">
        </mat-form-field>
        <br>


        <br>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>