<mat-tab-group>
  <mat-tab label="Datenerfassung" class="mat-tabs">
    <div class="wrapper">
      <form [formGroup]="verpackungForm">
        <section>
          <br>
          <mat-form-field class="mat-verw-form-input" required>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" name="name" placeholder="name" type="text">
          </mat-form-field>
          <mat-form-field class="mat-verw-form-bescheibung">
            <mat-label>Beschreibung</mat-label>
            <input matInput formControlName="beschreibung" name="beschreibung">
          </mat-form-field>

        </section>
        <section>
          <h3>Schichten</h3>
          <div formArrayName="materialverwendungs">
            <div *ngFor="let mv of verpackungForm.controls.materialverwendungs.controls; let i=index"
              [formGroupName]="i" class="flex-column">
              <div class="flex-group">
                <mat-form-field class="mat-verw-form-input">
                  <mat-label>Material</mat-label>
                  <mat-select formControlName="materialId">
                    <mat-option *ngFor="let material of materials$ | async;" value="{{material._id}}">
                      {{material.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="mat-verw-form-input">
                  <mat-label>Materialmenge [g]</mat-label>
                  <input formControlName="menge" matInput>
                </mat-form-field>
                <mat-form-field class="mat-verw-form-input">
                  <mat-label>Fläche [cm2]</mat-label>
                  <input matInput formControlName="flaeche">
                </mat-form-field>
                <mat-form-field class="mat-verw-form-input">
                  <mat-label>Dicke [µm] / Flächengewicht</mat-label>
                  <input matInput formControlName="dicke">
                </mat-form-field>
                <mat-form-field class="mat-verw-form-input">
                  <mat-label>Verarbeitung</mat-label>
                  <mat-select formControlName="verarbeitungId">
                    <mat-option *ngFor="let verarbeitung of verarbeitungs$ | async;"
                      value="{{verarbeitung._id}}">
                      {{verarbeitung.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="mat-verw-form-input">
                  <mat-label>Recyclingquote [%]</mat-label>
                  <input matInput formControlName="recyclingQuote">
                </mat-form-field>
                <mat-form-field class="mat-verw-form-input">
                  <mat-label>Entsorgung</mat-label>
                  <mat-select formControlName="energierueckgewinnungId">
                    <mat-option *ngFor="let energierueckgewinnung of energierueckgewinnungs$ | async;"
                      value="{{energierueckgewinnung._id}}">
                      {{energierueckgewinnung.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="mat-verw-form-input">
                  <mat-label>Transport [km]</mat-label>
                  <input matInput formControlName="transportstrecke">
                </mat-form-field>
                <mat-form-field appearance="fill" class="mat-verw-form-input">
                  <mat-label>Transportmittel</mat-label>
                  <mat-select formControlName="transportmittelId">
                    <mat-option *ngFor="let transportmittel of transportmittels$| async"
                      value="{{transportmittel._id}}">
                      {{transportmittel.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-checkbox formControlName="openLoop">
                  Open Loop
                </mat-checkbox>
                <button mat-icon-button aria-label="Example icon-button with a menu" (click)="moveUp(i)">
                  <mat-icon>north</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a menu" (click)="moveDown(i)">
                  <mat-icon>south</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a menu" (click)="deleteLayer(i)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon-button with a menu"
                  (click)="addMaterialVerwendung(i + 2)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="buttons">
            <button mat-flat-button color="primary" class="mat-verw-form-button" style="margin-right:20px"
              (click)="deleteVerpackung()">Löschen</button>
            <button type="submit" mat-flat-button color="primary" [disabled]="verpackungForm.invalid"
              (click)="saveVerpackung()">Speichern</button>
          </div>
        </section>
      </form>
    </div>

  </mat-tab>
  <mat-tab label="Berechnung Gesamt" class="mat-tabs">
    <table class="table">
      <thead class="thead">

        <tr class="d-flex">
          <th class="col-1">Umweltwirkung Gesamtverpackung:</th>
          <th class="col-1">CO<sub>2</sub>-equiv. [g]</th>
          <th class="col-1">Energie [kJ]</th>
        </tr>
      </thead>
      <tr class="d-flex">
        <td class="col-1">Material:</td>
        <td class="col-1">{{materialCO2Aufwand.toFixed(2)}} </td>
        <td class="col-1">{{materialAufwandEnergie.toFixed(2)}} </td>
      </tr>
      <tr class="d-flex">
        <td class="col-1">Cradle to Gate:</td>
        <td class="col-1">{{cradleToGate.toFixed(2)}} </td>
        <td class="col-1">{{cradleToGateEnergie.toFixed(2)}} </td>
      </tr>
      <tr class="d-flex">
        <td class="col-1">Cradle to Grave:</td>
        <td class="col-1">{{cradleToGrave.toFixed(2)}} </td>
        <td class="col-1">{{cradleToGraveEnergie.toFixed(2)}} </td>
      </tr>
      <tr class="d-flex">
        <td class="col-1">Cradle to Grave mit CO<sub>2</sub>-Gutschrift:</td>
        <td class="col-1">{{cradleToGraveCO2Gutschrift.toFixed(2)}} </td>
        <td class="col-1">{{cradleToGraveGutschriftEnergie.toFixed(2)}} </td>
      </tr>
      <tr class="d-flex">
        <td class="col-1">Cradle to Grave mit indirektem CO<sub>2</sub>-für Biofuel:</td>
        <td class="col-1">{{cradleToGraveCO2GutschriftBioFuel.toFixed(2)}} </td>
        <td class="col-1"></td>
      </tr>
    </table>
  </mat-tab>

  <mat-tab label="Berechnung Detail" class="mat-tabs">
    <div class="wrapper">
      <table id="berechnungDetail" mat-table [dataSource]="berechnungs$" class="mat-elevation-z8">
        <ng-container matColumnDef="material">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let berechnung" mat-cell> {{berechnung.material}} </td>
        </ng-container>
        <ng-container matColumnDef="materialCO2Eq">
          <th *matHeaderCellDef mat-header-cell>CO2-eq. [g]</th>
          <td *matCellDef="let berechnung" mat-cell> {{berechnung.materialCO2Eq | number: '1.2-2'}} </td>
        </ng-container>
        <ng-container matColumnDef="materialEnergie">
          <th *matHeaderCellDef mat-header-cell>Energie [kJ]</th>
          <td *matCellDef="let berechnung" mat-cell> {{berechnung.materialEnergie | number: '1.2-2'}} </td>
        </ng-container>
        <ng-container matColumnDef="co2AufwandVerarbeitung">
          <th *matHeaderCellDef mat-header-cell>CO2-eq. [g]</th>
          <td *matCellDef="let berechnung" mat-cell> {{berechnung.co2AufwandVerarbeitung | number: '1.2-2'}} </td>
        </ng-container>
        <ng-container matColumnDef="energieAufwandVerarbeitung">
          <th *matHeaderCellDef mat-header-cell>CO2-eq. [g]</th>
          <td *matCellDef="let berechnung" mat-cell> {{berechnung.energieAufwandVerarbeitung | number: '1.2-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="verbrennungCo2Eq">
          <th *matHeaderCellDef mat-header-cell>Energie [kJ]</th>
          <td *matCellDef="let berechnung" mat-cell> {{berechnung.verbrennungCo2Eq | number: '1.2-2'}} </td>
        </ng-container>
        <ng-container matColumnDef="verbrennungENutzEnergie">
          <th *matHeaderCellDef mat-header-cell>CO2-eq. [g]</th>
          <td *matCellDef="let berechnung" mat-cell> {{berechnung.verbrennungENutzEnergie | number: '1.2-2'}} </td>
        </ng-container>
        <ng-container matColumnDef="gutschriftVerbrennungCo2Eq">
          <th *matHeaderCellDef mat-header-cell>Energie [kJ]</th>
          <td *matCellDef="let berechnung" mat-cell> {{berechnung.gutschriftVerbrennungCo2Eq | number: '1.2-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="transportCo2Eq">
          <th *matHeaderCellDef mat-header-cell>CO2-eq. [g]</th>
          <td *matCellDef="let berechnung" mat-cell> {{berechnung.transportCo2Eq | number: '1.2-2'}} </td>
        </ng-container>
        <ng-container matColumnDef="transportEnergie">
          <th *matHeaderCellDef mat-header-cell>CO2-eq. [g]</th>
          <td *matCellDef="let berechnung" mat-cell> {{berechnung.transportEnergie | number: '1.2-2'}} </td>
        </ng-container>
        <ng-container matColumnDef="indirectco2Biofuel">
          <th *matHeaderCellDef mat-header-cell>Bio CO2-eq. [g]</th>
          <td *matCellDef="let berechnung" mat-cell> {{berechnung.indirectco2Biofuel | number: '1.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="verbrennungBioCo2Eq">
          <th *matHeaderCellDef mat-header-cell>Energie [kJ]</th>
          <td *matCellDef="let berechnung" mat-cell> {{berechnung.verbrennungBioCo2Eq | number: '1.2-2'}} </td>
        </ng-container>
        <ng-container matColumnDef="herstellungBioCo2Eq">
          <th *matHeaderCellDef mat-header-cell>Energie [kJ]</th>
          <td *matCellDef="let berechnung" mat-cell> {{berechnung.herstellungBioCo2Eq | number: '1.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="Material-group">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="3">
            Material
          </th>
        </ng-container>
        <ng-container matColumnDef="Verarbeitung-group">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">Verarbeitung</th>
        </ng-container>
        <ng-container matColumnDef="Entsorgung-group">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="3">Entsorgung</th>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['Material-group', 'Verarbeitung-group', 'Entsorgung-group']"></tr>

        <ng-container matColumnDef="Material">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="11">Material</th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['Material']"></tr>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
      <section>
        <div class="buttons">
          <button type="submit" mat-flat-button color="primary" [disabled]="verpackungForm.invalid"
            (click)="exportTable()">Export</button>
        </div>
      </section>
    </div>
  </mat-tab>
</mat-tab-group>