<div *ngIf="(errorMessage$) !== ''">
  Error: {{errorMessage$}}
</div>


<!-- <div *ngFor="let material of materials$ | async">
  <mat-card [routerLink]="['/material/', material['_id']]" style="cursor: pointer;">
    <mat-card-content>{{material["name"]}}</mat-card-content>
  </mat-card>
</div> -->

<div class="wrapper">
  
  <table id="userTable" mat-table [dataSource]="users$" >
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let u" mat-cell [routerLink]="['/user-form/', u['_id']]" style="cursor: pointer;"> {{u.name}} </td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th *matHeaderCellDef mat-header-cell>Role</th>
      <td *matCellDef="let u" mat-cell [routerLink]="['/user-form/', u['_id']]" style="cursor: pointer;"> {{u.role}} </td>
    </ng-container>
    
    
    
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  
</div>

