<mat-card>
  <mat-card-header>
    <mat-card-title>
      Neues Transportmittel anlegen:
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="transportmittelForm"  (ngSubmit)="saveTransportmittel()">
      
      <br>
      <mat-form-field class="register-full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" name="name" placeholder="name" type="text">
      </mat-form-field>
      <br>
      <mat-form-field class="register-full-width">
        <mat-label>stromanteil</mat-label>
        <input matInput formControlName="stromanteil" name="stromanteil" type="number">
      </mat-form-field>
      <br>
      <br>
      <mat-form-field class="register-full-width">
        <mat-label>energie</mat-label>
        <input matInput formControlName="energie" name="energie" type="number">
      </mat-form-field>
      
      <br>
      <br>
      <br>

      <div class="buttons">
        <button mat-flat-button color="primary">Cancel</button>
        <button type="submit" mat-flat-button color="primary" [disabled]="transportmittelForm.invalid">Speichern</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
