<mat-card>
  <mat-card-header>
    <mat-card-title>
      New Post
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form novalidate class="register-form" name="register-form">
      
      <mat-form-field class="register-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="postMsg" name="description" placeholder="Post Message"
          type="description"></textarea>
      </mat-form-field>
      <br>
      <br>

      <button (click)="post()" mat-flat-button color="primary">Post</button>
    </form>
  </mat-card-content>
</mat-card>