.mat-verw-form-input {
  max-width: 7vw;
  flex-grow: 1;
  padding: 4px;
}


.mat-verw-form-bescheibung {
  width: 50%;
  flex-grow: 1;
  padding: 4px;
}

.mat-verw-form-button {
  min-width: 120px;
  flex-grow: 1;
  padding: 4px;
}